.questionbox,#answerArea{
  height:18rem;

}

#answerArea{
  border:1px dotted #d6d6d6;

}

.questionbox p{
  padding-top: 5rem;
  font-size: 2rem;
  color:#505050;
}

.forceHeight{

}

.questArea{
  position:fixed;
  bottom:0;
  background-color:#9BD7D5;
  padding-top:0.5rem;
  padding-bottom:1rem;
  min-height:165px;
}
.questArea h3{
  margin-bottom: 1rem;
  color: #505050;
}

.t2sarea{
  width: 288px;
  display:block;
  margin:0 auto;
  clear: both;
  float: none;
}

.answer{
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #008cba;
  border-color: #007095;
  color: white;
  transition: background-color 300ms ease-out;
}


.questArea button,.answer{
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  background-color:#FF7260;
}

.t2sarea button:hover{
  background-color:#FFF5C3;
  color:#505050;
}

/*.textQuestion{background-color:#129793;}
.dragQuestion{background-color:#9BD7D5;}
.speechQuestion{background-color:#505050;}*/
