

.mainHeader {
	margin-top: -200px;
	width: 100%;
	height: 700px;
	background-color: #19191B;
	position: relative;
}
header{
	background-size: 100%;
	background-position: fixed;
}
.text{
	margin-top: 20%;
	text-align: center;
	float: right;
	position: absolute;
}
.openingTitle{
	padding-top: 1%;
	padding-bottom: 1%;
}

h1 {
	font-size: 36px;
	font-family: Helvetica;
	font-weight: bold;
	color: black;
}
.subtitle{
	color: #FF7260;

}
h3{
	font-family: Helvetica;
	color: black;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}
button{
	width: 100%;
	background-color: #129793;
	position: center;
}
#registerButton{
	height: 100px;
	width: 100%;
	font-size: 24px;
	margin: 0px auto;
	display: block;
	border-bottom: 2px black solid;
	margin-left: -2.15%;
}
#educator{
	height:100px;
	width: 110%;
	display: block;
	margin: 0px auto;
	font-size: 24px;
	text-align: center;
	position: relative;
	border-bottom: 2px black solid;
	color: #9BD7D5;
}
#student{
	height:100px;
	width: 110%;
	font-size: 24px;
	text-align: center;
	border-left: 2px black solid;
	border-bottom: 2px black solid;
	background-color: #9BD7D5;
	color: #129793;
}
form{
	background-color: rgba(18, 151, 147, 0.75);
}
.login{
	border: 3px solid #129793;
	background-color: #505050;
	color: #FF596D;
}
.register{
	font-size: 32px;
	font-weight: bold;
	font: helvetica;
	height: 60px;
	text-decoration: underline;
	color: white;
}

#about{
	background-color: black;
	height: 450px;
}
.aboutTitle{
	padding-top: 40px;
	color: white;
	font-family: sans-serif;
	font-size: 36px;
}
.aboutUnder{
	color: #FF596D;
	margin-top: -55px;
}
.aboutBody{
	color: white;
	padding: 20px;
	margin: 30px;
	margin-top: 10px;
	font: sans-serif;
	font-size: 24px;
}
#footer{
	background-color: white;
	height: 100px;

}
