

.mainHeader {
	width: 100%;
	height: 600px;
	background-color: #19191B;
	position: relative;
}
header{
	background-size: 100%;
	background-position: fixed;
}
.text{
	float: right;
	position: absolute;
	clear: both;

}
.openingTitle{
	padding-top: 1%;
	padding-bottom: 1%;
	position: absolute;
	clear: both;
}

h1 a:hover{
	font-size: 36px;
	background-color: white;
	font-family: Helvetica;
	font-weight: bold;
	color: black;
}
.subtitle a:hover{
	color: #FF7260;
	background-color: black;
	clear:both;
}
h3{
	font-family: Helvetica;
	color: black;
	clear:both;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}
button{
	
}
#registerButton{
	height: 100px;
	position:relative;
	margin: 0 auto;
	display: block;
	border-bottom: 2px black solid;
	width: 100%;
}
.student{
	height:100px;
	width: 100%;
	text-align: center;
	position: relative;
	border-left: 2px black solid;
	border-bottom: 2px black solid;
	clear: both;
}
form{
	background-color: rgba(18, 151, 147, 0.75);
}
.login{
	border: 3px solid #129793;
	background-color: #9BD7D5;
}
.register{
	font-size: 32px;
	font-weight: bold;
	font: helvetica;
	height: 60px;
	font:underline;
}

button{
	background-color: #129793;
	position: center;
	margin-left: 89px;
}
